
.atas .nav-link {
    margin-right: 10px;
}

.konten {
    padding-top: 40px;
}

.konten .tipo {
    height: 400px;
    width: 400px;
    margin-left: 20px;
}

.konten .paragraf {
    margin-left: 70%;
    margin-top: -370px;
    transform: translateX(-50%);
    display: block;
}

.konten .cmd {
    height: 200px;
    width: 400px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    margin-left: 40px;
}

.bawah {
    margin-top: 30px;
    background-color: #292b2c;
    padding-bottom: 30px;
}

.bawah .info {
    padding-top: 20px;
}

.bawah .unesa {
    width: 110px;
    height: 138px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.bawah h2 {
    color: white;
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.bawah h4 {
    color: white;
}
